@use "../../Styles/Mixins" as *;

.introduction {
  margin: space(xl) 0;
  display: flex;

  &__cta {
    margin: space(lg) 0 0 0;
    display: flex;
    align-items: center;

    gap: space(lg);

    &-button {
      padding: space(sm) space(lg);
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      border-radius: 1rem;
      font-weight: bold;
      font-size: font-size(base);
      &:hover {
        background-color: #eee;
        color: #000;
      }
    }
  }
}
