@use "../../Styles/Mixins" as *;

.face-direction {
  display: none;

  @include respond-to("tablet") {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img-wrapper {
      width: 200px;
      height: 225px;
      // border-radius: 50%;
      overflow: hidden;
      // border: 2px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__text {
      margin-top: 16px;
      font-size: 1rem;
      color: #444;
    }
  }
}
