@import "../../Styles/Mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding: space(md);

  &__title {
    font-size: font-size(lg);
    font-weight: bold;
    font-family: fantasy;
  }

  &__menu {
    @include respond-to("tablet") {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include respond-to("tablet") {
      font-size: font-size(sm);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: space(md);
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &-link {
      padding: space(sm) space(md);

      &:hover,
      &:active {
        background: #f0f0f0;
        border-radius: 0.5rem;
        transform: translateY(-2px);
        box-shadow: 0 6px 0 #555;
      }

      &--3d {
        display: inline-block;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: font-size(sm);

        color: #fff;
        background: #87ceeb; // base background
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        padding: space(sm) space(md);

        // shadow uses a darker shade of the background
        box-shadow: 0 4px 0 darken(#87ceeb, 20%);
        transition: all 0.2s ease-in-out;

        &:hover {
          background: lighten(#87ceeb, 5%);
          box-shadow: 0 6px 0 darken(#87ceeb, 25%);
          transform: translateY(-2px);
        }

        &:active {
          background: darken(#87ceeb, 5%);
          box-shadow: 0 2px 0 darken(#87ceeb, 30%);
          transform: translateY(2px);
        }
      }
    }
  }
}
