@import "../../Styles/Mixins.scss";

.about-me {
  margin-bottom: space(lg);
  &__heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    font-size: font-size(lg);
  }

  &__text {
    font-size: font-size(base);
    line-height: 1.6;
    color: #717171;
  }
}
